Makefile
Makefile.in

aclocal.m4
autom4te.cache
config.*
configure
env

*.o
*.a
*~
stamp-h1
compile
depcomp
install-sh
missing
/include
test-driver
prof/build
prof/com
prof/souffleprof.jar
warn.log
packaging/*

build_*

debian/changelog
souffle-*.*.*
