Makefile
Makefile.in

aclocal.m4
libtool.m4
lt*.m4
autom4te.cache
config.*
configure
env

*.o
*.a
*~
stamp-h1
compile
depcomp
install-sh
missing
libtool
ltmain.sh
/include
test-driver
interfaces/souffle-compilelib
warn.log
packaging/*

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

build_*

debian/changelog
souffle-*.*.*

src/souffle-mcpp
src/souffle-profile
src/profilerlib/.dirstamp
profiler_html/

doc
prof

.idea/
#macosx
.DS_Store
