sudo: required
dist: trusty
language: cpp
before_install:
  -  if [ $TRAVIS_OS_NAME == linux ]; then sudo apt-get -y install build-essential g++ automake autoconf bison flex openjdk-7-jdk; fi
  -  if [ $TRAVIS_OS_NAME == osx ]; then brew install bison; export CXXFLAGS=-fopenmp; export SOUFFLECPP=/usr/local/bin/cpp-4.8; export BISON=/usr/local//Cellar/bison/3.0.2/bin/bison; fi
compiler:
- gcc
- clang
os:
#- linux
- osx
script: 
- sh ./bootstrap
- ./configure
- make check 
- cat tests/testsuite.dir/*/testsuite.log
